* {
    box-sizing: border-box;
}

.home-page {
    text-align: center;
    font-weight: 200;
}

.spell-lists {
    font-size: 20px;
    text-decoration: none;
}

.flex-container-c {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}
.flex-item-top {
    background-color: #f1f1f1;
    padding: 10px;
}

.flex-item-down {
    background-color: #8a2f2f;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-container ul {
    list-style-type: none;
    list-style: none;
    margin: 10px;
}

.list-name {
    list-style-type: none;
    text-decoration: none;
}

.btn-tab {
    margin-bottom: 15px;
}
.flex-container button {
    background-color: antiquewhite;
    border-radius: 50px;
}
.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.flex-item-center {
    background-color: rgb(75, 255, 30);
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    background-color: rgb(192, 220, 248);
    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}
